<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blake.com.flashtalk" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/flashtalk_logo_lg"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FlashTalkSplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DeckMainActivity"
            android:label="@string/title_activity_deck_main" >
        </activity>
        <activity
            android:name=".DeckStatsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EditCardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddDeckActivity"
            android:label="@string/title_activity_add_deck" >
        </activity>
        <activity
            android:name=".CardFlipActivity"
            android:label="@string/title_activity_card_flip" >
        </activity>
    </application>

</manifest>
